appdirs==1.4.4
arrow==1.1.1
aws-xray-sdk==2.8.0
boto3==1.17.101
botocore==1.20.101
certifi==2021.5.30
chardet==4.0.0
crhelper==2.0.10
distlib==0.3.2
filelock==3.0.12
future==0.18.2
idna==2.10
importlib-metadata==4.6.0
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-iamauth==0.1.1
s3transfer==0.4.2
six==1.16.0
toml==0.10.2
tox==3.23.1
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
wrapt==1.12.1
zipp==3.4.1
