arrow==1.2.3
aws-xray-sdk==2.11.0
awscrt==0.16.13
boto3==1.26.104
botocore==1.29.104
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
colorama==0.4.6
crhelper==2.0.11
distlib==0.3.6
filelock==3.10.7
idna==3.4
importlib-metadata==6.1.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
packaging==23.0
platformdirs==3.2.0
pluggy==1.0.0
pyproject_api==1.5.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
requests-file==1.5.1
requests-iamauth==0.7.0
s3transfer==0.6.0
six==1.16.0
tomli==2.0.1
tox==4.4.8
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.21.0
wrapt==1.15.0
zipp==3.15.0
